# A config file with name .dataheroes.config can be placed in one of the following locations:
# - Your HOME directory
# - The current directory of your python script
# - Any directory as indicated by the environment variable DATAHEROES_CONFIG_PATH
#       If the DATAHEROES_CONFIG_PATH is used, it can store either the directory in which
#       the file .dataheroes.config is placed or the full path to the file.
#       In the latter case, any name can be used for the file.
#       (e.g. export DATAHEROES_CONFIG_PATH=/User/my-user/my.config.file)
[licensing]
    license_key=AAAAA-BBBBB-CCCCC-DDDDD

[folders]

# Used as the parameter "cache_dir" passed to CoresetService init
# cache_dir=/Users/user_name/dataheroes_cache_dir

# Used as the parameter "working_directory" passed to CoresetService init
# working_directory=/Users/user_name/dataheroes_working_directory

# Used as the parameter "dir_path" passed to CoresetService->save method
# dir_path=/Users/user_name/dataheroes_dir_path
