# A config file with name .dataheroes.config can be placed in one of the following locations:
# - Your HOME directory
# - The current directory of your python script
# - Any directory as indicated by the environment variable DATAHEROES_CONFIG_PATH
#       If the DATAHEROES_CONFIG_PATH is used, it can store either the directory in which
#       the file .dataheroes.config is placed or the full path to the file.
#       In the latter case, any name can be used for the file.
#       (e.g. export DATAHEROES_CONFIG_PATH=/User/my-user/my.config.file)
[licensing]
    license_key=AAAAA-BBBBB-CCCCC-DDDDD

[folders]

# Used as the parameter "cache_dir" passed to CoresetService init
# cache_dir=/Users/user_name/dataheroes_cache_dir

# Used as the parameter "working_directory" passed to CoresetService init
# working_directory=/Users/user_name/dataheroes_working_directory

# Used as the parameter "dir_path" passed to CoresetService->save method
# dir_path=/Users/user_name/dataheroes_dir_path


[logger]
# Enable/disable logging to files
# enable_logger=1

# Path to the directory where the logs files are written to
# logger_path=/home/user_name/dataheroes_logs/

# Each session generates a new file in the "logger_path" directory, this parameter controls the number of files kept
# logger_backup_count=100

# Control the log level for events that will be added to the telemetry
# allowed values are: debug, info
# telemetry_log_level=info

# Control the log level for events that will be written to the log files
# logger_level=debug

# Max allowed span events in the telemetry
# max_span_events=2048

# By default, the console output is disabled.
# To enable the output of the logged events to the console, uncomment the "handlers" parameter
# and a StreamHandler will be added to the logger. The log level is defined in "logger_level"
# handlers=StreamHandler