# This config file with name .dataheroes.config should be placed in one of locations
# - HOME directory
# - current directory for python script
# - directory stored in the environment variable DATAHEROES_CONFIG_PATH
#       if DATAHEROES_CONFIG_PATH is used, it can store either the directory in which
#       file .dataheroes.config is placed or the full path to the file,
#       in the last case any name can be used for the file
#       (e.g. export DATAHEROES_CONFIG_PATH=/User/my-user/my.config.file)
[licensing]
    license_key=AAAAA-AAAAA-AAAAA-AAAAA

[folders]

# Used same way as parameter "cache_dir" passed to CoresetService init
# cache_dir=/Users/user_name/skcoreset_cache_dir

# Used same way as parameter "working_directory" passed to CoresetService init
# working_directory=/Users/user_name/skcoreset_working_directory

# Used same way as parameter "dir_path" passed to CoresetService->save method
# dir_path=/Users/user_name/skcoreset_dir_path

